body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

nav {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1; /* Ensure the navigation bar is above other content */
}
nav ul {
list-style: none;
margin: 0;
padding: 0;

}

nav ul li {
display: inline;
margin-right: 20px;
}

nav ul li:last-child {
margin-right: 0;
}

nav ul li a {
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 16px;
}

nav ul li a:hover {
text-decoration: none;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    max-width: 800px;
}

form {
    background-color: #ffffff;
    max-width: 600px; /* Increase the max-width to make the form larger */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}